footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, var(--bg-left), var(--bg-right));
}

footer p {
  color: var(--text);
}
