footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a18cd1, #faabe4);
}

footer p {
  color: rgba(255, 255, 255, 0.8);
}
